* {
    margin: 0;
    padding: 0;
}

p {
    color: dimgray;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.orange {
    color: orange;
}

.bang {
    font-family: 'The Nautigal', cursive;
    font-size: 100px;
    color: salmon;
}

section {
    margin-bottom: 150px;
}

.flex-container {
    display: flex;
}

.half-width {
    width: 50%;
    margin-left: 5%;
}

.my-info {
    margin-top: 30px;
}

.profile-link {
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}

.my-image img {
    margin-top: 5px;
    width: 90%;
}

.header {
    background-image: url("/images/top-banner.png");
    background-repeat: no-repeat;
}

.dream-section {
    margin-top: 150px;
    background-image: url("/images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}

.dream-info p {
    width: 90%;
}

.experiences h1 {
    margin-bottom: 25px;
    font-size: 40px;
}


.experiences {
    margin-bottom: 150px;
    background-image: url("/images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left center;
}

.experiences p {
    width: 90%;
}

.experiences .half-width {
    width: 41%;
    margin-left: 4%;
}

.fullwebdev {
    border-left: 7px solid tomato;
    box-shadow: 5px 7px 40px grey;
    padding: 20px 0 90px 20px;
}

.babywebdev {
    border-left: 7px solid blue;
    box-shadow: 5px 7px 40px grey;
    padding: 20px 0 90px 20px;
}

footer {
    text-align: center;
    margin: 20px 0;
}